<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>Root Directory</title>
</head>
<body>

    <h1>Welcome to the Root Directory</h1>

    <div class="main-directory">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img class="card-img" src="./images/Daisy.jpg" alt="A Flower">
                        <div class="card-body">
                            <a href="listprod" class="btn btn-dark card-btn">Browse Plants</a>
                        </div>

                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img class="card-img" src="./images/Daisy.jpg" alt="A Flower">
                        <div class="card-body">
                            <a href="listorder" class="btn btn-dark card-btn">All Orders</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img class="card-img" src="./images/Daisy.jpg" alt="A Flower">
                        <div class="card-body">
                            <a href="test" class="btn btn-dark card-btn">Test</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    

</body>
</html>