<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
    {{{testString}}}
    <div class=orders-container>
        <table class="table table-bordered table-striped table-sm">{{{ordersTable}}}</table>
    </div>
</body>
</html>