<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">./</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="listprod" class="nav-link">Shop</a></li>
        <li class="nav-item"><a class="nav-link">About</a></li>
        <li class="nav-item"><a class="nav-link">FAQ</a></li>
    </ul>
    <a href="showcart"><i class="fas fa-shopping-cart"></i></a>
    <span id="cart-count">(0)</span>
</nav>